// LESS
// BASE VALUES
// IMPORT VARIABLES & MIXINS
@import 'variables';
@import 'mixins';

// IMPORT BOOTSTRAP LESS
@import "bootstrap/index";

* {
  .reset-mixin(@bord: 0;
  @pad: 0;
  @mar: 0px;
  @box: border-box;
  @dec: none;
  @list: none);
}

body {
  position: relative;
  color: @wht;
  background: @blue;
  font-family: @main-font;
  font-size: 16px;
  font-weight: 300;
}

h1,
h2 {
  text-align: center;
  font-family: @main-font;
  color: #fff;
  font-weight: 500;
}

// FLOATS
.floatLeft {
  float: left;

  &::after {
    clear: left;
  }
}

.floatRight {
  float: right;

  &::after {
    clear: right;
  }
}