// LESS
// BASE VALUES
// IMPORT VARIABLES & MIXINS
@import 'variables';
@import 'mixins';

// IMPORT BOOTSTRAP LESS
@import "bootstrap/index";

* {
  .reset-mixin(@bord: 0;
  @pad: 0;
  @mar: 0px;
  @box: border-box;
  @dec: none;
  @list: none);
}

body {
  position: relative;
  color: @wht;
  // background: @blue;
  // background-image: url(../img/6.jpg);
  font-family: @main-font;
  font-size: 17px;
  font-weight: 300;
  background: linear-gradient(270deg, #03223d, #001629);
  background-size: 400% 400%;

  -webkit-animation: myBG 10s ease infinite;
  -moz-animation: myBG 10s ease infinite;
  animation: myBG 10s ease infinite;

  @-webkit-keyframes myBG {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes myBG {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }

  @keyframes myBG {
    0% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }

    100% {
      background-position: 0% 50%
    }
  }
}

p {
  letter-spacing: 0.2px;
  font-size: 17px;
}

h1,
h2 {
  text-align: center;
  font-family: @main-font;
  color: #fff;
  font-weight: 500;
}

h3 {
  font-family: @main-font;
  color: #fff;
  font-weight: 500;
}

.pieBold {
  font-weight: 700;
  color: @pie2;
}

.lineBold {
  font-weight: 700;
  color: @line1;
}

.hbarBold {
  // font-weight: 700;
  color: @blue5;
}

.vbarBold {
  font-weight: 700;
  color: @vbar5;
}

// FLOATS
.floatLeft {
  float: left;

  &::after {
    clear: left;
  }
}

.floatRight {
  float: right;

  &::after {
    clear: right;
  }
}