// LESS
// BASE VALUES
// IMPORT VARIABLES & MIXINS
@import 'variables';
@import 'mixins';

// IMPORT BOOTSTRAP LESS
@import "bootstrap/index";

* {
  .reset-mixin(@bord: 0;
  @pad: 0;
  @mar: 0px;
  @box: border-box;
  @dec: none;
  @list: none);
}

body {
  position: relative;
  color: @wht;
  font-family: @main-font;
  font-size: 17px;
  font-weight: 300;

  -webkit-animation: pulsate 20s linear infinite;
  -moz-animation: pulsate 20s linear infinite;
  animation: pulsate 20s linear infinite;

  @-webkit-keyframes pulsate {
    0% {
      background: @blue
    }

    12.5% {
      background: @grad2
    }

    25% {
      background: @grad3
    }

    37.5% {
      background: @grad4
    }

    50% {
      background: @blue-drk
    }

    62.5% {
      background: @grad4
    }

    75% {
      background: @grad3
    }

    87.5% {
      background: @grad2
    }

    100% {
      background: @blue
    }
  }

  @-moz-keyframes pulsate {
    0% {
      background: @blue
    }

    12.5% {
      background: @grad2
    }

    25% {
      background: @grad3
    }

    37.5% {
      background: @grad4
    }

    50% {
      background: @blue-drk
    }

    62.5% {
      background: @grad4
    }

    75% {
      background: @grad3
    }

    87.5% {
      background: @grad2
    }

    100% {
      background: @blue
    }
  }

  @keyframes pulsate {
    0% {
      background: @blue
    }

    12.5% {
      background: @grad2
    }

    25% {
      background: @grad3
    }

    37.5% {
      background: @grad4
    }

    50% {
      background: @blue-drk
    }

    62.5% {
      background: @grad4
    }

    75% {
      background: @grad3
    }

    87.5% {
      background: @grad2
    }

    100% {
      background: @blue
    }
  }
}

a {
  font-family: @main-font;
  color: @red;
  font-weight: 300;

  &:hover {
    color: @wht;
    text-decoration: none;
  }
}

p {
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 17px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: @main-font;
  color: @wht;
  font-weight: 500;
}

.pieBold {
  font-weight: 500;
  color: @pie2;
}

.lineBold {
  font-weight: 500;
  color: @line1;
}

.hbarBold {
  color: @hbar1;
}

.vbarBold {
  font-weight: 500;
  color: @vbar5;
}

// FLOATS
.floatLeft {
  float: left;

  &::after {
    clear: left;
  }
}

.floatRight {
  float: right;

  &::after {
    clear: right;
  }
}