// LESS
// MAIN CONTENT
// IMPORT VARIABLES & MIXINS
@import 'variables';
@import 'mixins';


// HEADER
// .header{
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: 20px;
// }

// ICONS
i {
  cursor: pointer;
}

.fa-home,
.fa-chart-bar {
  cursor: pointer;
  color: @blue19;
  font-size: 20px;
  margin: @sml-mar;

  &:hover {
    color: @wht;
  }
}

// SPOODER
.spooder {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  cursor: pointer;
  height: 920px;
  left: 50%;
  margin-left: -450px;
  margin-top: -550px;
  position: absolute;
  top: 50%;
  width: 900px;
  z-index: 10;
}

.spooderFill {
  fill: @blue-drk;

  &:hover {
    fill: @blue19;
  }
}

// FEAR
.fear {
  cursor: pointer;
  height: 648px;
  left: 50%;
  margin-left: -500px;
  margin-top: -324px;
  position: absolute;
  top: 50%;
  width: 1000px;
  z-index: 0;
}

#fear {
  fill: @blue-blk;
}

// SECTIONS
.section1 {
  // background: @blue;
  position: fixed;
  width: 100%;
  height: 100%;
}

#section2,
#section3,
#section4,
#section5 {
  display: none;
}

// MASTER
.master {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

// CONTAINER
.container-fluid {
  background: @blue-lgt;
  margin: @big-mar;
  padding: @main-pad;
  position: relative;
  width: 1000px;
}

// ROW & COL
.row {
  margin: @big-mar;
}

.col {
  padding: @zero-pad;
}

.col-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// BUTTON
// .btn-section {
//   background: @blue5;
//   width: 60px;
// }

// .btn-warning {
//   background: @blue-drk;
//   width: 100px;
//   &hover{
//     background: @blue-lgt;

//   }
// }

// .btn :hover {
//   color: @wht  !important;
// }
// .btn:focus,
// .btn.focus {
//   outline: 0;
//   box-shadow: none !important;
// }

// i :hover {
//   color: @wht  !important;
// }

// .progressBarBot {
//   margin-top: 50px;
// }