// LESS
// MAIN CONTENT
// IMPORT VARIABLES & MIXINS
@import 'variables';
@import 'mixins';

// SPOODER
.spooder {
  cursor: pointer;
  left: 50%;
  margin-left: -280px;
  margin-top: -400px;
  position: absolute;
  top: 50%;
  height: 800px;
  width: 560px;
  z-index: 10;
}

#spooder {
  fill: @blue-drk;

  &:hover {
    fill: @blue-lgt;
  }
}

// SECTIONS
.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background: @blue;
  position: fixed;
  width: 100%;
  height: 100%;

  .master {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;

    .container-fluid {
      width: 90%;
      background: @blue-lgt;
      margin: @main-mar;
      padding: @main-pad;
    }
  }
}

#section2 {
  display: none;
}

.row {
  margin: @zero-mar;

  .col {
    padding: @zero-pad;
  }
}

.col-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}