// LESS
// GRAPHS
// IMPORT VARIABLES & MIXINS
@import 'variables';
@import 'mixins';

.mouse i {
  color: @pie1;
}

.spider i {
  color: @pie2;
}

.shark i {
  color: @pie3;
}

.bear i {
  color: @pie4;
}

.snake i {
  color: @pie5;
}

canvas {
margin:@big-mar;
}