//MAIN COLOURS
@wht: #ffffff;
@blk: #181818;

@blue: #03223d;
@blue-lgt: lighten(@blue, 5%);
@blue-drk: darken(@blue, 5%);


// .section {
//   @color: primary;

//   .element {
//     color: @@color;
//   }
// }

// Which compiles to:

// .section .element {
//   color: green;

// TRANSITIONS
// $speed: all 0.2s ease-in-out;

// FONTS
@main-font: 'Source Sans Pro', sans-serif;
// @font-face {
//   font-family: 'Open Sans Light';
//   src: url('../fonts/open-sans/OpenSans-Light.ttf');
// }

// $fnt-lgt: 'Open Sans Light';
// $fnt-reg: 'Open Sans Regular';
// $fnt-bld: 'Open Sans Bold';
// $fnt-pure: 'Pure Pakati';

// $spc: 1px;
// $spc-zero: 0px;

// $bdy: 1em;
// $hdg-1: 4em;
// $hdg-2: 3em;
// $hdg-3: 2em;
// $hdg-4: 1.1em;

//MARGINS
@main-mar: 0 auto;

// PADDING
@main-pad: 20px;
