//MAIN COLOURS
@wht: #ffffff;
@blk: #181818;

@blue: #03223d;
@blue-drk: #001629;
@blue-drk-t: #00254680;
@blue-lgt: lighten(@blue, 25%);

@red: #f74444;
@brd: #f7444454;

// GRADIENTS
@grad2: #03243b;
@grad3: #022035;
@grad4: #011a2f;

// GRAPH COLOURS
// PIE
@pie1: #f74444;
@pie2: #faa178;
@pie3: #f7697c;
@pie4: #f07651;
@pie5: #e998b0;

// HBAR
@hbar1: #f56969;

// VBAR
@vbar1: #c972c9;
@vbar2: #fe76b1;
@vbar3: #ff8991;
@vbar4: #ffaa74;
@vbar5: #ffd164;

// LINE
@line1: #f175f1;

// FONTS
@main-font: 'Source Sans Pro', sans-serif;

//MARGINS
@mar: 20px 0 20px 0;
@main-mar: 0 auto;
@big-mar: 30px 0 30px 0;
@icon-mar: 15px 0 0 15px;
@copy-mar: 15px 15px 0 0;
@row-mar: 50px 0 50px 0;

// PADDING
@main-pad: 20px;
@col-pad: 0 25px 0 25px;
@sml-pad: 0 10px 0 0;